/* Colours */
/* Fonts */
body {
  margin: 0 auto !important;
  max-width: 100%;
  padding: 0;
  background: #fff;
}
#main.fullwidth,
.layout-full #main,
.col-full,
.no-sidebar #main {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: #000149;
  font-weight: normal;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
/* List margin overrides */
#content ul,
#content ol {
  margin-left: 1.4em;
}
#sidebar ul,
#sidebar ol {
  margin-left: 0;
}
#sidebar ul ul,
#sidebar ol ul,
#sidebar ul ol,
#sidebar ol ol {
  margin-left: 1.4em;
}
#wrapper {
  background: none;
}
/*-------------------------------------------------------*
Masthead
*-------------------------------------------------------*/
#top {
  background: none;
  margin: 0;
  padding: 0;
  height: 50px;
  float: right;
  min-width: 50%;
  background: #000149;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#top .amano-top-nav ul#top-nav {
  float: left;
  margin-left: 20px;
  margin-right: 15px;
}
#top .amano-top-nav ul#top-nav li a {
  margin: 0;
  padding: 17px 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
#top .amano-top-nav ul#top-nav li a:hover {
  background: none;
  color: #ffb800;
}
#top .amano-top-nav ul#top-nav li:hover {
  background: none;
}
#top .amano-top-nav .wc-cart {
  float: left;
  margin-left: 5px;
}
#top .amano-top-nav .wc-cart li:hover {
  background: none !important;
}
#top .amano-top-nav .wc-cart li a {
  color: #fff;
}
#top .amano-top-nav .wc-cart li a:hover {
  background: none !important;
  color: #ffb800;
}
#top .amano-top-nav .wc-cart li a:hover .contents {
  color: #ff9e21;
}
#top .amano-top-nav .wc-cart li a .contents {
  color: #000149;
}
#top .amano-top-nav .wc-search {
  float: left;
}
#top .amano-top-nav .wc-search input {
  border: none;
}
#header {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Logo */
#header .site-title {
  width: 25%;
  margin: -25px 0 25px 25px;
  padding: 0;
  float: left;
}
#header .site-title img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/* TODO */
#colour-picker {
  height: 23.5px;
  margin-bottom: 10px;
}
/* TODO */
#font-size-picker {
  height: 23.5px;
  margin-bottom: 10px;
}
/* Main Navigation */
#header .nav-toggle {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 0 40px 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header #navigation {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000149;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 10;
  height: 70px;
  /* Sub Menus */
}
#header #navigation ul {
  width: 100%;
  margin: 17px 0 0 0;
  padding: 0;
  float: none;
}
#header #navigation ul li {
  width: 10.2%;
  background: none;
  height: 70px;
  padding: 0 2% 0 2%;
}
#header #navigation ul li:hover {
  background: #f3fbff;
}
#header #navigation ul li:hover a {
  color: #000149 !important;
  background-color: #f3fbff !important;
}
#header #navigation ul.nav > li a {
  width: 100%;
  background: none;
  margin: 0;
  padding: 13px 0 0 0;
  border: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  height: 57px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
#header #navigation ul.nav > li a:hover {
  background: none;
  color: #f3fbff;
}
#header #navigation ul.nav > li.current-menu-item > a,
#header #navigation ul.nav > li.current_page_item > a {
  color: #ffb800;
  font-weight: bold;
}
#header #navigation ul.nav ul {
  background: #f3fbff;
  border: none;
  width: 150%;
  box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
#header #navigation ul.nav ul li {
  width: 93%;
  border: none !important;
  background: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 0 0 3.5%;
}
#header #navigation ul.nav ul li a {
  text-align: left;
  padding: 5% 0 0 5%;
  background: none !important;
  border: none !important;
  margin: 0;
}
#header #navigation ul.nav ul li a:hover {
  background: #000149 !important;
  color: #fff !important;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header #navigation ul.nav > li.parent a:after {
  font-family: 'WebSymbolsRegular';
  display: inline-block;
  font-size: .857em;
  margin-left: .618em;
  content: ";";
  color: #fff;
  font-weight: normal;
}
#header #navigation ul.nav > li.parent:hover a:after {
  color: #000149;
}
#header #navigation ul.nav > li.parent a::before {
  display: none !important;
}
#header #navigation > ul {
  width: 95%;
  margin: 0px 2.5% 0 2.5%;
}
/*-------------------------------------------------------*
Content
*-------------------------------------------------------*/
#content {
  background: none;
  padding: 2% 10%;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-clip: border-box;
  /*max-width: 75.998em;*/
}
/*-------------------------------------------------------*
Sidebar (inc. Layered Nav)
*-------------------------------------------------------*/
.primary {
  background: #fafafa;
  width: 88%;
  padding: 6%;
}
.widget_layered_nav h3 {
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
#sidebar input.s {
  margin: 0 .327em 1.1em .327em;
}
/*-------------------------------------------------------*
Gravity forms
*-------------------------------------------------------*/
.gform_footer {
  padding: 0 !important;
}
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  width: 1.618em !important;
}
.gfield_description {
  margin-top: -1.618em;
}
/*-------------------------------------------------------*
Mijireh forms
*-------------------------------------------------------*/
.mijireh_order_form input[type=text] {
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;
  /* Firefox, other Gecko */
  box-sizing: content-box;
  /* Opera/IE 8+ */
}
/*-------------------------------------------------------*
Incidentals
*-------------------------------------------------------*/
body.home #breadcrumbs {
  display: none;
}
.indented {
  margin-left: 3em;
}
.centre {
  text-align: center;
}
/* Generic feature blocks */
.full-width-feature {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin-right: -12.5%;
  margin-left: -12.5%;
  padding: 0 5% 0 5%;
  clear: both;
  text-align: center;
}
.full-width-feature:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.full-width-feature h1 {
  color: #fff;
}
.full-width-feature h2 {
  font-size: 1.4em;
  color: #fff;
  line-height: 1.7;
  text-transform: none;
}
.full-width-feature p {
  color: #fff;
}
.full-width-feature ul {
  text-align: left;
  margin-left: 2.2em;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.15em;
}
.full-width-feature .blurb {
  width: 24%;
  text-align: center;
}
.full-width-feature img {
  width: 74%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}
.full-width-feature .pull-left {
  float: left;
}
.full-width-feature .pull-right {
  float: right;
}
.dark {
  background: #000149;
}
.light {
  background: #fff;
}
.light h1 {
  color: #000149;
}
.light h2 {
  font-size: 1.4em;
  color: #000149;
  line-height: 1.7;
}
.light p {
  color: #000149;
}
.light ul {
  text-align: left;
  margin-left: 2.2em;
  color: #000149;
  font-family: "Lato", sans-serif;
  font-size: 1.15em;
}
.light .blurb {
  width: 24%;
  text-align: center;
}
.feature-button a {
  display: block;
  border: 2px solid #000149;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 200px;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  color: #000149;
  background: #fff;
}
.feature-button a:hover {
  color: #fff;
  background: #000149;
  border-color: #fff;
}
/* Specific feature block overrides */
#independent-living {
  padding-top: 40px;
}
#independent-living img {
  width: 60%;
  margin-top: 30px;
}
#home-page-lede-buttons {
  clear: both;
  margin-top: -70px;
}
#home-page-lede-buttons #help-me-choose {
  float: left;
  margin-top: -450px;
}
#home-page-lede-buttons #ready-to-shop {
  float: right;
  margin-top: -450px;
}
#your-peace-of-mind {
  margin-top: 30px;
  clear: none;
  padding-bottom: 40px;
}
#your-peace-of-mind h1 {
  padding-top: 70px;
}
#connections-diagram img {
  margin-top: -20px;
}
#making-connections {
  margin-top: -40px;
  clear: none;
  padding-bottom: 40px;
}
#making-connections h1 {
  padding-top: 70px;
}
#preserving-dignity {
  margin-top: 40px;
}
#preserving-dignity p {
  width: 60%;
  margin-left: 20%;
}
/* Fancy buttons on home page */
#home-page-buttons {
  width: 100%;
}
#home-page-buttons:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#home-page-buttons ul {
  margin: 0 auto;
  width: 552px;
  display: block;
}
#home-page-buttons ul li {
  list-style: none;
  display: block;
}
#home-page-buttons ul li a {
  display: block;
  float: left;
  border: 2px solid #000149;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 150px;
  padding: 5px 10px 10px 10px;
  margin-right: 15px;
  text-align: center;
  color: #000149;
  height: 40px;
  /*&#support-button { padding-top: 14px; padding-bottom: 1px; }*/
}
#home-page-buttons ul li a:hover {
  color: #fff;
  background: #000149;
}
#home-page-buttons ul li a#buy-button {
  padding-top: 14px;
  padding-bottom: 1px;
}
#home-page-buttons ul li:last-child a {
  margin-right: 0;
}
/* Contact page template */
#office-location {
  float: left;
}
.contact-social {
  float: right;
}
.contact-social:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.contact-social #mc_embed_signup {
  margin-bottom: 1.618em;
}
#mc_embed_signup {
  background: #000149;
  color: #fff;
  padding: 4%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#mc_embed_signup:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#mc_embed_signup h3 {
  color: #fff;
}
#mc_embed_signup label {
  display: block;
}
#mc_embed_signup input {
  clear: both;
  border: none;
  margin: 0 0 1.168em;
  width: 100%;
}
#mc_embed_signup #mc-embedded-subscribe {
  margin-top: 1.168em;
}
hr.contact-separator {
  clear: both;
}
/*-------------------------------------------------------*
Footer
*-------------------------------------------------------*/
.footer-wrap {
  margin: 0;
  background: #000149;
  box-shadow: 0px 20px 20px 0px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(50, 50, 50, 0.2);
}
.footer-wrap h3 {
  text-transform: uppercase;
  border: none;
  padding: 0;
  color: #fff;
}
.footer-wrap p {
  font-size: 90%;
  color: #fff;
}
.footer-wrap a {
  font-weight: normal;
  text-decoration: underline;
  color: #ffb800;
}
.footer-wrap li {
  color: #fff;
  font-size: 90%;
}
.footer-wrap li a:hover {
  text-decoration: none;
}
.footer-wrap ul.menu li:before {
  content: none;
}
.footer-wrap img.footer-logo {
  margin-bottom: 30px;
}
#footer-legal-links {
  padding-top: 2px;
  padding-bottom: 20px;
  border-bottom: 1px solid #505178;
}
#footer-legal-links .menu {
  list-style-type: none;
}
#footer-legal-links .menu li {
  display: inherit;
  float: left;
  padding: 0px 8px;
  border-right: 1px solid #505178;
}
#footer-legal-links .menu li a {
  font-size: 11px;
}
#footer-legal-links .menu li:last-child {
  border-right: none;
}
#footer-widgets {
  padding: 1.8155em 0 0 0;
  text-align: center;
}
#footer-widgets .footer-card-icons {
  margin-bottom: 1.618em;
}
/* Social buttons */
#social-icons {
  width: 288px;
  margin: 0 auto 1.8155em auto;
  clear: both;
}
#social-icons:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#social-icons ul.social-buttons {
  list-style-type: none;
  display: block;
  margin: 10px 2% 10px 0;
  width: 288px;
  /* Serve retina image on hi-dpi devices */
}
#social-icons ul.social-buttons li a {
  float: left;
  text-indent: -9999px;
  display: block;
  margin-right: 15px;
  width: 35.5px;
  height: 35.5px;
}
#social-icons ul.social-buttons li a:hover {
  float: left;
  opacity: 1;
}
#social-icons ul.social-buttons li.twitter a {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') top left no-repeat;
}
#social-icons ul.social-buttons li.facebook a {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -35.5px 0 no-repeat;
}
#social-icons ul.social-buttons li.google-plus a {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -71px 0 no-repeat;
}
#social-icons ul.social-buttons li.youtube a {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -106.5px 0 no-repeat;
}
#social-icons ul.social-buttons li.pinterest a {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -42px 0 no-repeat;
}
#social-icons ul.social-buttons li.linkedin a {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -177.5px 0 no-repeat;
  margin-right: 0;
}
#social-icons ul.social-buttons li.twitter a:hover {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') 0 -35.5px no-repeat;
}
#social-icons ul.social-buttons li.facebook a:hover {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -35.5px -35.5px no-repeat;
}
#social-icons ul.social-buttons li.google-plus a:hover {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -71px -35.5px no-repeat;
}
#social-icons ul.social-buttons li.youtube a:hover {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -106.5px -35.5px no-repeat;
}
#social-icons ul.social-buttons li.pinterest a:hover {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -142px -35.5px no-repeat;
}
#social-icons ul.social-buttons li.linkedin a:hover {
  background: url('images/icons/Social-Icons-Sprite-for-Footer.png') -177.5px -35.5px no-repeat;
  margin-right: 0;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  #social-icons ul.social-buttons li.twitter a {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') top left no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.facebook a {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -35.5px 0 no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.google-plus a {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -71px 0 no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.youtube a {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -106.5px 0 no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.pinterest a {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -142px 0 no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.linkedin a {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -177.5px 0 no-repeat;
    margin-right: 0;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.twitter a:hover {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') 0 -35.5px no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.facebook a:hover {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -35.5px -35.5px no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.google-plus a:hover {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -71px -35.5px no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.youtube a:hover {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -106.5px -35.5px no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.pinterest a:hover {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -142px -35.5px no-repeat;
    background-size: 600%;
  }
  #social-icons ul.social-buttons li.linkedin a:hover {
    background: url('images/icons/Social-Icons-Sprite-for-Footer@2x.png') -177.5px -35.5px no-repeat;
    margin-right: 0;
    background-size: 600%;
  }
}
#footer {
  position: absolute;
  background: #fff;
  margin-right: -12.5%;
  margin-left: -12.5%;
  color: #000149;
  padding: 0 5% 0 5%;
  width: 100%;
  max-width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#footer p {
  color: #000149;
  font-size: 11px;
}
