@import url(mixins.less);

/* Colours */
@amano-blue: #000149;
@amano-light-blue: #e0ebf3;
@amano-dark-orange: #ff9e21;
@amano-light-orange: #ffb800;

/* Fonts */
@lato: "Lato", sans-serif;

body {
  margin: 0 auto !important; max-width: 100%; padding: 0;
  background: #fff;
}

#main.fullwidth, .layout-full #main, .col-full, .no-sidebar #main {
  width: 100%; margin: 0 auto; max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @lato; color: @amano-blue; font-weight: normal;
}
h1, h2, h3 { text-transform: uppercase; }

p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

/* List margin overrides */
#content ul, #content ol { margin-left: 1.4em; }
#sidebar ul, #sidebar ol {
  margin-left: 0;
  ul, ol { margin-left: 1.4em; }
}

#wrapper { background: none; }


/*-------------------------------------------------------*
Masthead
*-------------------------------------------------------*/

#top {
  background: none; margin: 0; padding: 0; height: 50px;
  float: right; width: 30%; background: @amano-blue;
  .border_radius_bottom_left(8px);
  .amano-top-nav {
    ul#top-nav {
      float: right; margin-right: 15px;
      li {
        a {
          margin: 0; padding: 17px 0; text-align: center;
          color: white; text-transform: uppercase;
          &:hover { background: none; color: @amano-light-orange; }
        }
        &:hover { background: none; }
      }
    }
    .wc-cart {
      float: left; margin-left: 5px;
      li {
        &:hover { background: none !important; }
        a {
          &:hover {
            background: none !important;
            color: @amano-light-orange;
            .contents { color: @amano-dark-orange; }
          }
          color: #fff;
          .contents { color: @amano-blue; }
        }
      }
    }
  }
}

#header { margin: 0; padding: 0; border: 0; }

/* Logo */
#header .site-title {
  width: 25%; margin: -25px 0 25px 25px; padding: 0; float: left;
  img { width: 100%; max-width: 100%; margin: 0; padding: 0; }
}

/* Search box */
#strap-and-search {
  float: left; width: 49%; margin-top: 30px; margin-left: 7%;

  ul.wc-search {
    float: left; margin-left: 17%;
    li { width: 100%; }
    label { display: none; }
    input.input-text {
      margin: 0; padding: 0; border: 1px solid @amano-blue; width: 250px;
      height: 35px; background-color: rgba(255,255,255,0.5);
      .border_radius(0); .box_shadow(0,0,0,0);
    }
    input.input-text:hover { background-color: rgba(255,255,255,1); }
    input#searchsubmit {
      padding: 0; margin: 0 0 0 -4px; height: 35px; width: 34px;
      border: none; text-indent: -9999px;
      background: url('images/layout/search-button.png') top left no-repeat;
      background-size: 100% 100%;
      .border_radius(0); .box_shadow(0,0,0,0);
    }
  }
}
@-moz-document url-prefix() {
  #strap-and-search ul.wc-search input.input-text { float: left; }
  #strap-and-search ul.wc-search input#searchsubmit { float: left; }
}

/* Social buttons */
#header #social-and-cart {
  width: 27%; float: right;

  ul.social-buttons {
    list-style-type: none; display: block;
    margin: 10px 2% 10px 0; width: 166px; float: right;
    li a {
      float: left; text-indent: -9999px; display: block;
      margin-right: 5px; width: 35.5px; height: 35.5px;
    }
    li a:hover {
      float: left; opacity: 1;
    }
    li.twitter a {
      background: url('images/icons/Social-Icons-Sprite.png') top left no-repeat;
    }
    li.facebook a {
      background: url('images/icons/Social-Icons-Sprite.png') -35.5px 0 no-repeat;
    }
    li.google-plus a {
      background: url('images/icons/Social-Icons-Sprite.png') -71px 0 no-repeat;
    }
    li.youtube a {
      background: url('images/icons/Social-Icons-Sprite.png') -106.5px 0 no-repeat;
      margin-right: 0;
    }
    li.twitter a:hover {
      background: url('images/icons/Social-Icons-Sprite.png') 0 -35.5px no-repeat;
    }
    li.facebook a:hover {
      background: url('images/icons/Social-Icons-Sprite.png') -35.5px -35.5px no-repeat;
    }
    li.google-plus a:hover {
      background: url('images/icons/Social-Icons-Sprite.png') -71px -35.5px no-repeat;
    }
    li.youtube a:hover {
      background: url('images/icons/Social-Icons-Sprite.png') -106.5px -35.5px no-repeat;
      margin-right: 0;
    }
    /* Serve retina image on hi-dpi devices */
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
      li.twitter a {
        background: url('images/icons/Social-Icons-Sprite@2x.png') top left no-repeat;
        background-size: 400%;
      }
      li.facebook a {
        background: url('images/icons/Social-Icons-Sprite@2x.png') -35.5px 0 no-repeat;
        background-size: 400%;
      }
      li.google-plus a {
        background: url('images/icons/Social-Icons-Sprite@2x.png') -71px 0 no-repeat;
        background-size: 400%;
      }
      li.youtube a {
        background: url('images/icons/Social-Icons-Sprite@2x.png') -106.5px 0 no-repeat;
        margin-right: 0; background-size: 400%;
      }
      li.twitter a:hover {
        background: url('images/icons/Social-Icons-Sprite@2x.png') 0 -35.5px no-repeat;
        background-size: 400%;
      }
      li.facebook a:hover {
        background: url('images/icons/Social-Icons-Sprite@2x.png') -35.5px -35.5px no-repeat;
        background-size: 400%;
      }
      li.google-plus a:hover {
        background: url('images/icons/Social-Icons-Sprite@2x.png') -71px -35.5px no-repeat;
        background-size: 400%;
      }
      li.youtube a:hover {
        background: url('images/icons/Social-Icons-Sprite@2x.png') -106.5px -35.5px no-repeat;
        margin-right: 0; background-size: 400%;
      }
    }
  }

  /* TODO */
  #colour-picker {
    height: 23.5px; margin-bottom: 10px;
  }

  /* TODO */
  #font-size-picker {
    height: 23.5px; margin-bottom: 10px;
  }
}


/* Main Navigation */
#header .nav-toggle {
  position: relative; clear: both; width: 100%; margin: 0 0 40px 0;
  .border_radius(0);
}
#header #navigation {
	clear: both; width: 100%; margin: 0; padding: 0; background: @amano-blue;
  .border_radius(0px); z-index: 10; height: 100px;
  ul {
    width: 100%; margin: 17px 0 0 0; padding: 0; float: none;
    li { width: 16%; background: none; height: 70px; padding: 0 2% 0 2%; }
    li:hover {
      background: @amano-light-blue;
      a { color: @amano-blue !important; background-color: @amano-light-blue !important; }
    }
  }
  ul.nav > li a {
    width: 100%; background: none; margin: 0; padding: 13px 0 0 0;
    border: 0; text-align: center; color: #fff; font-weight: bold; height: 57px;
    font-family: @lato; font-size: 14px; text-transform: uppercase;
  }
  ul.nav > li a:hover {
    background: none; color: @amano-light-blue;
  }
  ul.nav > li:first-child:hover, ul.nav > li:first-child a:hover {
    .border_radius_left(8px);
  }
  ul.nav > li.current-menu-item > a,
  ul.nav > li.current_page_item > a {
    color: @amano-light-orange; font-weight: bold;
  }

  /* Sub Menus */
  ul.nav ul {
    background: @amano-light-blue; border: none; width: 150%;
    .box_shadow(3px, 4px, 8px, 0px, rgba(50, 50, 50, 0.2));
    .border_radius(4px);
    -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0;
    li { width: 93%; border: none !important; background: none; .border_radius(0px); padding: 0 0 0 3.5%; }
    li a {
      text-align: left; padding: 5% 0 0 5%; background: none !important;
      border: none !important; margin: 0;
    }
    li a:hover { background: @amano-blue !important; color: #fff !important; .border_radius(0px); }
  }
  ul.nav > li.parent a:after {
    font-family: 'WebSymbolsRegular'; display: inline-block;
    font-size: .857em; margin-left: .618em; content: ";";
    color: #fff; font-weight: normal;
  }
  ul.nav > li.parent:hover a:after { color: @amano-blue; }
  ul.nav > li.parent a::before { display: none !important; }
}


/*-------------------------------------------------------*
Content
*-------------------------------------------------------*/

#content {
  background: none; padding: 2% 10%; width: 100%; .borderbox();
  background-clip: border-box;
  /*max-width: 75.998em;*/
}


/*-------------------------------------------------------*
Sidebar (inc. Layered Nav)
*-------------------------------------------------------*/

.primary {
  background: #fafafa; width: 88%; padding: 6%;
}
.widget_layered_nav h3 {
  text-transform: uppercase; border: none;
  border-bottom: 1px solid #e6e6e6;
}
#sidebar input.s { margin: 0 .327em 1.1em .327em; }


/*-------------------------------------------------------*
Gravity forms
*-------------------------------------------------------*/

.gform_footer { padding: 0 !important; }
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  width: 1.618em !important;
}
.gfield_description { margin-top: -1.618em; }


/*-------------------------------------------------------*
Mijireh forms
*-------------------------------------------------------*/

.mijireh_order_form {
  input[type=text] {
    .borderbox(content-box);
  }
}


/*-------------------------------------------------------*
Incidentals
*-------------------------------------------------------*/

body.home #breadcrumbs { display: none; }

.indented { margin-left: 3em; }
.centre { text-align: center; }

/* Generic feature blocks */
.full-width-feature {
  .borderbox(); margin-right: -12.5%; margin-left: -12.5%; padding: 0 5% 0 5%;
  clear: both; .clearfix(); text-align: center;
  h1 { color: #fff; }
  h2 { font-size: 1.4em; color: #fff; line-height: 1.7; text-transform: none; }
  p { color: #fff; }
  ul {
    text-align: left; margin-left: 2.2em; color: #fff;
    font-family: @lato; font-size: 1.15em;
  }
  .blurb { width: 24%; text-align: center; }
  img { width: 74%; height: auto; margin: 0; padding: 0; border: none; }
  .pull-left { float: left; }
  .pull-right { float: right; }
}
.dark { background: @amano-blue; }
.light {
  background: #fff;
  h1 { color: @amano-blue; }
  h2 { font-size: 1.4em; color: @amano-blue; line-height: 1.7; }
  p { color: @amano-blue; }
  ul {
    text-align: left; margin-left: 2.2em; color: @amano-blue;
    font-family: @lato; font-size: 1.15em;
  }
  .blurb { width: 24%; text-align: center; }
}

.feature-button {
  a {
    display: block; border: 2px solid @amano-blue;
    .border_radius(6px); width: 200px; padding: 10px; margin-right: 15px;
    text-align: center; color: @amano-blue; background: #fff;
    &:hover { color: #fff; background: @amano-blue; border-color: #fff; }
  }
}

/* Specific feature block overrides */
#independent-living {
  padding-top: 40px;
  img { width: 60%; margin-top: 30px; }
}
#home-page-lede-buttons {
  clear: both; margin-top: -70px;
  #help-me-choose { float: left; }
  #ready-to-shop { float: right; }
}
#your-peace-of-mind {
  margin-top: 30px; clear: none; padding-bottom: 40px;
  h1 { padding-top: 70px; }
}
#connections-diagram img { margin-top: -20px; }
#making-connections {
  margin-top: -40px; clear: none; padding-bottom: 40px;
  h1 { padding-top: 70px; }
}
#preserving-dignity {
  margin-top: 40px;
  p { width: 60%; margin-left: 20%; }
}

/* Fancy buttons on home page */
#home-page-buttons {
  width: 100%; .clearfix();
  ul {
    margin: 0 auto; width: 552px; display: block;
    li {
      list-style: none; display: block;
      a {
        display: block; float: left; border: 2px solid @amano-blue;
        .border_radius(6px); width: 150px; padding: 5px 10px 10px 10px; margin-right: 15px;
        text-align: center; color: @amano-blue; height: 40px;
        &:hover { color: #fff; background: @amano-blue; }
        &#buy-button { padding-top: 14px; padding-bottom: 1px; }
        /*&#support-button { padding-top: 14px; padding-bottom: 1px; }*/
      }
      &:last-child a { margin-right: 0; }
    }
  }
}


/*-------------------------------------------------------*
Footer
*-------------------------------------------------------*/

.footer-wrap {
  margin: 0; background: @amano-blue;
  .box_shadow(0px, 20px, 20px, 0px, rgba(50, 50, 50, 0.2));
  h3 { text-transform: uppercase; border: none; padding: 0; color: #fff; }
  p { font-size: 90%; color: #fff; }
  a { font-weight: normal; text-decoration: underline; color: @amano-light-orange; }
  li {
    color: #fff; font-size: 90%;
  }
  li a:hover { text-decoration: none; }
  ul.menu li:before { content: none; }
  img.footer-logo { margin-bottom: 30px; }
  img.footer-card-icons { margin-top: 40px; }
}
#footer-widgets { padding: 3.631em 0 0 0; }
#footer { display: none; }