@import url(mixins.less);

/* Colours */
@amano-blue: #000149;
@amano-light-blue: #e0ebf3;
@amano-dark-orange: #ff9e21;
@amano-light-orange: #ffb800;

/* Fonts */
@lato: "Lato", sans-serif;

body {
  margin: 0 auto !important; max-width: 75.998em;
  background: #fff url('images/layout/site-background.jpg') top center no-repeat fixed; padding: 0;
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @lato; color: @amano-blue; font-weight: normal;
}
h1, h2, h3 { text-transform: uppercase; }

p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

#wrapper { background: none; }


/*-------------------------------------------------------*
Masthead
*-------------------------------------------------------*/

#top {
  background: none;
  
  .amano-tel {
    margin-left: 20%; margin-top: 15px; float: left;
    font-family: @lato; font-size: 1.4em; font-weight: bold; color: @amano-blue;
    .small-text { font-size: .8em; font-weight: normal; }
  }

  .amano-top-nav {
    float: right; width: 40%; background: @amano-blue;
    .border_radius_bottom(8px);
    ul#top-nav {
      width: 90%; left: 5%;
      li {
        width: 25%;
        a {
          margin: 0; padding: 13px 0 13px 0; text-align: center;
          color: white; font-family: @lato; text-transform: uppercase;
        }
        a:hover { color: @amano-blue; }
      }
    }
  }
}

#header { margin: 0; padding: 0; border: 0; }

/* Logo */
#header .site-title {
  width: 15%; margin: -50px 0 20px 2%; padding: 0; float: left;
  img { width: 90%; max-width: 90%; margin: 20px 5% 0 5%; padding: 0; }
}

/* Search box */
#strap-and-search {
  float: left; width: 49%; margin-top: 30px; margin-left: 7%;

  .strapline {
    font-family: @lato; font-size: 35px; font-style: italic;
    color: @amano-blue; width: 100%; margin-bottom: 5%;
  }

  ul.wc-search {
    float: left; margin-left: 17%;
    li { width: 100%; }
    label { display: none; }
    input.input-text {
      margin: 0; padding: 0; border: 1px solid @amano-blue; width: 250px;
      height: 35px; background-color: rgba(255,255,255,0.5);
      .border_radius(0); .box_shadow(0,0,0,0);
    }
    input.input-text:hover { background-color: rgba(255,255,255,1); }
    input#searchsubmit {
      padding: 0; margin: 0 0 0 -4px; height: 35px; width: 34px;
      border: none; text-indent: -9999px;
      background: url('images/layout/search-button.png') top left no-repeat;
      background-size: 100% 100%;
      .border_radius(0); .box_shadow(0,0,0,0);
    }
  }
}
@-moz-document url-prefix() {
  #strap-and-search ul.wc-search input.input-text { float: left; }
  #strap-and-search ul.wc-search input#searchsubmit { float: left; }
}

/* Social buttons */
#header #social-and-cart {
  width: 27%; float: right;

  ul.social-buttons {
    list-style-type: none; display: block;
    margin: 10px 2% 10px 0; width: 130.5px; float: right;
    li a {
      float: left; text-indent: -9999px; display: block;
      margin-right: 5px; width: 35.5px; height: 35.5px;
    }
    li a:hover {
      float: left; opacity: 1;
    }
    li.twitter a {
      background: url('images/icons/twitter-icon.png') top left no-repeat;
      background-size: 100% 100%;
    }
    li.facebook a {
      background: url('images/icons/facebook-icon.png') top left no-repeat;
      background-size: 100% 100%;
    }
    li.google-plus a {
      background: url('images/icons/google-plus-icon.png') top left no-repeat;
      margin-right: 0; background-size: 100% 100%;
    }
  }

  /* TODO */
  #colour-picker {
    height: 23.5px; margin-bottom: 10px;
  }

  /* TODO */
  #font-size-picker {
    height: 23.5px; margin-bottom: 10px;
  }

  /* Cart */
  .wc-cart {
    width: 90%; margin: 26% 5.5% 0 0; border: 1px solid @amano-blue; border-bottom: 0;
    height: 45px; background-color: rgba(255,255,255,0.5); z-index: 1;
    float: right;
    .border_radius_top(4px);

    li { padding-top: 4px; }
    li a {
      font-family: @lato; text-transform: uppercase;
      font-weight: normal; color: @amano-blue; padding-right: 5px;
    }
    li a:hover { color: @amano-dark-orange; }
    li.cart-icon {
      width: 8%; margin-left: 4%; margin-top: 2%;
    }
    li span.amount { margin-right: 10px; margin-top: -4px; }
    li.cart a { padding-top: 7px; }
  }
  .wc-cart:hover { background-color: rgba(255,255,255,1); }
}


/* Main Navigation */
#header .nav-toggle {
  position: relative; clear: both; width: 100%; margin: 0 0 40px 0; border: 0;
  .border_radius(0);
}
#header #navigation {
	clear: both; width: 100%; margin: 0 0 40px 0; padding: 0; background: @amano-blue;
  .border_radius(0); z-index: 10; height: 70px;
  ul {
    width: 100%; margin: 0; padding: 0; float: none;
    li { width: 16%; background: none; height: 70px; padding: 0 2% 0 2%; }
    li:hover {
      background: @amano-light-blue;
      a { color: @amano-blue !important; background-color: @amano-light-blue !important; }
    }
  }
  ul.nav > li a {
    width: 100%; background: none; margin: 0; padding: 13px 0 0 0;
    border: 0; text-align: center; color: #fff; font-weight: bold; height: 57px;
    font-family: @lato; font-size: 14px; text-transform: uppercase;
  }
  ul.nav > li a:hover {
    background: none; color: @amano-light-blue;
  }
  ul.nav > li.current-menu-item > a,
  ul.nav > li.current_page_item > a {
    color: @amano-light-orange; font-weight: bold;
  }

  /* Sub Menus */
  ul.nav ul {
    background: @amano-light-blue; border: none; width: 150%;
    .box_shadow(3px, 4px, 8px, 0px, rgba(50, 50, 50, 0.2));
    .border_radius(4px);
    -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0;
    li { width: 93%; border: none !important; background: none; .border_radius(0px); padding: 0 0 0 3.5%; }
    li a {
      text-align: left; padding: 5% 0 0 5%; background: none !important;
      border: none !important; margin: 0;
    }
    li a:hover { background: @amano-blue !important; color: #fff !important; .border_radius(0px); }
  }
  ul.nav > li.parent a:after {
    font-family: 'WebSymbolsRegular'; display: inline-block;
    font-size: .857em; margin-left: .618em; content: ";";
    color: #fff; font-weight: normal;
  }
  ul.nav > li.parent:hover a:after { color: @amano-blue; }
  ul.nav > li.parent a::before { display: none !important; }
}


/*-------------------------------------------------------*
Content
*-------------------------------------------------------*/

#content {
  background: #fff; padding: 2%; width: 96%;
  .border_radius_top(8px);
  .box_shadow(0px, 0px, 20px, 0px, rgba(50, 50, 50, 0.2));
}


/*-------------------------------------------------------*
Sidebar (inc. Layered Nav)
*-------------------------------------------------------*/

.primary {
  background: #fafafa; width: 88%; padding: 6%;
}
.widget_layered_nav h3 {
  text-transform: uppercase; border: none;
  border-bottom: 1px solid #e6e6e6;
}


/*-------------------------------------------------------*
Gravity forms
*-------------------------------------------------------*/
.gform_footer { padding: 0 !important; }
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  width: 1.618em !important;
}


/*-------------------------------------------------------*
Incidentals
*-------------------------------------------------------*/

body.home #breadcrumbs { display: none; }

.indented { margin-left: 3em; }
.centre { text-align: center; }

/* Generic feature blocks */
.full-width-feature {
  margin-right: -2%; margin-left: -2%; padding: 0 5% 0 5%;
  clear: both; .clearfix(); text-align: center;
  h1 { color: #fff; }
  h2 { font-size: 1.4em; color: #fff; line-height: 1.7; text-transform: none; }
  p { color: #fff; }
  ul {
    text-align: left; margin-left: 2.2em; color: #fff;
    font-family: @lato; font-size: 1.15em;
  }
  .blurb { width: 24%; text-align: center; }
  img { width: 74%; height: auto; margin: 0; padding: 0; border: none; }
  .pull-left { float: left; }
  .pull-right { float: right; }
}
.dark { background: @amano-blue; }
.light {
  background: #fff;
  h1 { color: @amano-blue; }
  h2 { font-size: 1.4em; color: @amano-blue; line-height: 1.7; }
  p { color: @amano-blue; }
  ul {
    text-align: left; margin-left: 2.2em; color: @amano-blue;
    font-family: @lato; font-size: 1.15em;
  }
  .blurb { width: 24%; text-align: center; }
}

.feature-button {
  a {
    display: block; border: 2px solid @amano-blue;
    .border_radius(6px); width: 200px; padding: 10px; margin-right: 15px;
    text-align: center; color: @amano-blue; background: #fff;
    &:hover { color: @amano-dark-orange; }
  }
}

/* Specific feature block overrides */
#independent-living {
  padding-top: 40px;
  img { width: 60%; margin-top: 30px; }
}
#home-page-lede-buttons {
  clear: both; margin-top: -80px;
  #help-me-choose { float: left; }
  #ready-to-shop { float: right; }
}
#your-peace-of-mind {
  margin-top: 33px; clear: none; padding-bottom: 40px;
  h1 { padding-top: 80px; }
}
#connections-diagram img { margin-top: -20px; }
#making-connections {
  margin-top: -40px; clear: none; padding-bottom: 40px;
  h1 { padding-top: 70px; }
}
#preserving-dignity {
  margin-top: 40px;
  p { width: 60%; margin-left: 20%; }
}

/* Fancy buttons on home page */
#home-page-buttons {
  width: 100%; .clearfix();
  ul {
    margin: 0 auto; width: 552px; display: block;
    li {
      list-style: none; display: block;
      a {
        display: block; float: left; border: 2px solid @amano-blue;
        .border_radius(6px); width: 150px; padding: 5px 10px 10px 10px; margin-right: 15px;
        text-align: center; color: @amano-blue; height: 40px;
        &:hover { color: @amano-dark-orange; }
        &#buy-button { padding-top: 14px; padding-bottom: 1px; }
        &#support-button { padding-top: 14px; padding-bottom: 1px; }
      }
      &:last-child a { margin-right: 0; }
    }
  }
}


/*-------------------------------------------------------*
Footer
*-------------------------------------------------------*/

.footer-wrap {
  margin: 0; background: @amano-blue;
  .box_shadow(0px, 20px, 20px, 0px, rgba(50, 50, 50, 0.2));
  h3 { text-transform: uppercase; border: none; padding: 0; color: #fff; }
  p { font-size: 90%; color: #fff; }
  a { font-weight: normal; text-decoration: underline; color: @amano-light-orange; }
  li {
    color: #fff; font-size: 90%;
  }
  li a:hover { text-decoration: none; }
  ul.menu li:before { content: none; }
}
#footer-widgets { padding: 3.631em 0 0 0; }
#footer { display: none; }